
<div class="page-container">
   
<div class="section-container">
    <section>
        <div class="section-header" style="width: 100%;margin-left: -40px">

          <div style="margin-top: 30px" class="section-header">
            <div><p><mat-icon>network</mat-icon></p></div>
            <div><p>Sever Account</p></div>
          </div>
          <mat-form-field class="search-form-field" floatLabel="never" >
              <input [(ngModel)]="accountsearchKey" (keyup)="applyAccountFilter()" matInput  placeholder="Search Server Account"/>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="accountsearchKey" (click)="onAccountSearchClear()">
                  <mat-icon >close</mat-icon>
              </button>
              <button mat-button matSuffix mat-icon-button  *ngIf="!searchKey" >
                  <mat-icon >search</mat-icon>
              </button>
          </mat-form-field>
        </div>
          <div class="mat-elevation-z8">
              <mat-table [dataSource]="accountdataSource" matSort >
                  <ng-container  matColumnDef="#" style="padding: 0 0 0 10px">
                      <mat-header-cell  mat-sort-header *matHeaderCellDef> # </mat-header-cell>
                      <mat-cell colspan="1" *matCellDef="let element"> {{element.id}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="provider">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server Provider </mat-header-cell>
                        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.provider}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="charges">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Monthly Charges (₦) </mat-header-cell>
                        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.charges}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell class="cell-name" *matHeaderCellDef >Actions</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button id="file" mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_horizontal</mat-icon></button>
                            <mat-menu #moreMenu="matMenu" yPosition="below">
                                <button class="menu-button" mat-menu-item>
                                  <mat-icon >
                                    edit
                                  </mat-icon>
                                   <span>
                                     Edit
                                   </span>
                                 </button>
                                 <button class="menu-button" mat-menu-item>
                                    <mat-icon >
                                      delete_forever
                                    </mat-icon>
                                    <span>
                                      Delete
                                    </span>
                                  </button>
                                  <button class="menu-button" mat-menu-item>
                                      <mat-icon >
                                          arrow_drop_down
                                      </mat-icon>
                                      <span>
                                        Suspend
                                      </span>
                                    </button>
                                    </mat-menu>
                           </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedAccountColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedAccountColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[3,5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
      </section>

  <section>
      <div class="section-header" style="width: 100%;">

        <div style="margin-top: 30px" class="section-header">
          <div><p><mat-icon>settings</mat-icon></p></div>
          <div><p>Sever Credentials</p></div>
        </div>
        <mat-form-field class="search-form-field" floatLabel="never" >
            <input [(ngModel)]="credentialsSearchKey" (keyup)="applyCredFilter()" matInput  placeholder="Search Server credentials"/>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="credentialsSearchKey" (click)="onCredSearchClear()">
                <mat-icon >close</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button  *ngIf="!credentialsSearchKey" >
                <mat-icon >search</mat-icon>
            </button>
          </mat-form-field>
      </div>
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="credentialsdataSource" matSort >
                <ng-container matColumnDef="#" style="padding: 0 0 0 10px">
                    <mat-header-cell  mat-sort-header *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell colspan="1" *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="username">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>User Name </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.username}} </mat-cell>
                  </ng-container>
                  <ng-container class="status-column status-container" matColumnDef="password">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server Password </mat-header-cell>
                      <mat-cell class="cell-name status-cell" style="color: var(--primaryColor)" *matCellDef="let element">
                        <span class="status-span">
                            {{element.password}}
                        </span>
                       </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="ipAddress">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server IP Address </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.ipAddress}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="OS">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server OS </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.OS}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="servername">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server name </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.servername}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Type">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server Type </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.Type}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="accountid">
                      <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Account ID </mat-header-cell>
                      <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.accountid}}</mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                      <mat-header-cell class="cell-name" *matHeaderCellDef >Actions</mat-header-cell>
                      <mat-cell *matCellDef="let element">
                          <button id="file" mat-icon-button [matMenuTriggerFor]="credMenu"><mat-icon>more_horizontal</mat-icon></button>
                          <mat-menu #credMenu="matMenu" yPosition="below">
                              <button class="menu-button" mat-menu-item>
                                <mat-icon >
                                  edit
                                </mat-icon>
                                 <span>
                                   Edit
                                 </span>
                               </button>
                               <button class="menu-button" mat-menu-item>
                                  <mat-icon >
                                    delete_forever
                                  </mat-icon>
                                  <span>
                                    Delete
                                  </span>
                                </button>
                                <button class="menu-button" mat-menu-item>
                                    <mat-icon >
                                        arrow_drop_down
                                    </mat-icon>
                                    <span>
                                      Suspend
                                    </span>
                                  </button>
                                  </mat-menu>
                         </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedCredentialsColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedCredentialsColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[3,5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
        </div>
    </section>
    <section>
        <div class="section-header" style="width: 100%;">

          <div style="margin-top: 30px" class="section-header">
            <div><p><mat-icon>settings</mat-icon></p></div>
            <div><p>Sever Tools/Utils</p></div>
          </div>
          <mat-form-field class="search-form-field" floatLabel="never" >

              <input [(ngModel)]="toolsearchKey" (keyup)="applyToolFilter()" matInput  placeholder="Search Server Tools"/>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="toolsearchKey" (click)="applyToolFilter()">
                  <mat-icon >close</mat-icon>
              </button>
              <button mat-button matSuffix mat-icon-button  *ngIf="!toolsearchKey" >
                  <mat-icon >search</mat-icon>
              </button>
            </mat-form-field>
        </div>
          <div class="mat-elevation-z8">
              <mat-table [dataSource]="toolsdataSource" matSort >
                  <ng-container  matColumnDef="#" style="padding: 0 0 0 10px">
                      <mat-header-cell  mat-sort-header *matHeaderCellDef> # </mat-header-cell>
                      <mat-cell colspan="1" *matCellDef="let element"> {{element.utilid}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Database">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Database </mat-header-cell>
                        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.Database}} </mat-cell>
                    </ng-container>
                    <ng-container class="status-column status-container" matColumnDef="applicationserver">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Application Server </mat-header-cell>
                        <mat-cell class="cell-name " style="color: var(--primaryColor)" *matCellDef="let element">
                              {{element.applicationserver}}
                         </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="credentialid">
                        <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Server Credential ID </mat-header-cell>
                        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element">
                           <span  style="margin-left: 20%">
                          {{element.credentialid}}
                        </span>
                          </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell class="cell-name" *matHeaderCellDef >Actions</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button id="file" mat-icon-button [matMenuTriggerFor]="credMenu"><mat-icon>more_horizontal</mat-icon></button>
                            <mat-menu #credMenu="matMenu" yPosition="below">
                                <button class="menu-button" mat-menu-item>
                                  <mat-icon >
                                    edit
                                  </mat-icon>
                                   <span>
                                     Edit
                                   </span>
                                 </button>
                                 <button class="menu-button" mat-menu-item>
                                    <mat-icon >
                                      delete_forever
                                    </mat-icon>
                                    <span>
                                      Delete
                                    </span>
                                  </button>
                                  <button class="menu-button" mat-menu-item>
                                      <mat-icon >
                                          arrow_drop_down
                                      </mat-icon>
                                      <span>
                                        Suspend
                                      </span>
                                    </button>
                                    </mat-menu>
                           </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedToolsColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedToolsColumns;"></mat-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[3,5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
          </div>
      </section>

      <section>
          <div class="section-header" style="width: 100%;margin-left: -40px">

            <div style="margin-top: 30px" class="section-header">
              <div><p><mat-icon>network</mat-icon></p></div>
              <div><p>Applications</p></div>
            </div>
            <mat-form-field class="search-form-field" floatLabel="never" >
                <input [(ngModel)]="appSearchKey" (keyup)="applyAppFilter()" matInput  placeholder="Search Application"/>
                <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="appSearchKey" (click)="onAppSearchClear()">
                    <mat-icon >close</mat-icon>
                </button>
                <button mat-button matSuffix mat-icon-button  *ngIf="!searchKey" >
                    <mat-icon >search</mat-icon>
                </button>
              </mat-form-field>
          </div>
            <div class="mat-elevation-z8">
                <mat-table [dataSource]="applicationdataSource" matSort >
                    <ng-container matColumnDef="#" style="padding: 0 0 0 10px">
                        <mat-header-cell  mat-sort-header *matHeaderCellDef> # </mat-header-cell>
                        <mat-cell colspan="1" *matCellDef="let element"> {{element.appid}} </mat-cell>
                      </ng-container>
                      <ng-container matColumnDef="applicationname">
                          <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header>Application Name </mat-header-cell>
                          <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.applicationname}} </mat-cell>
                      </ng-container>
                      <ng-container class="status-column status-container" matColumnDef="utilid">
                          <mat-header-cell class="cell-name" *matHeaderCellDef mat-sort-header> Tools/Utility ID </mat-header-cell>
                          <mat-cell class="cell-name status-cell" style="color: var(--primaryColor) " *matCellDef="let element">
                            <span  style="margin-left: 20%">
                              {{element.utilid}}
                            </span>
                           </mat-cell>
                      </ng-container>


                      <ng-container matColumnDef="actions">
                          <mat-header-cell class="cell-name" *matHeaderCellDef >Actions</mat-header-cell>
                          <mat-cell *matCellDef="let element">
                              <button id="file" mat-icon-button [matMenuTriggerFor]="moreMenu"><mat-icon>more_horizontal</mat-icon></button>
                              <mat-menu #moreMenu="matMenu" yPosition="below">
                                  <button class="menu-button" mat-menu-item>
                                    <mat-icon >
                                      edit
                                    </mat-icon>
                                     <span>
                                       Edit
                                     </span>
                                   </button>
                                   <button class="menu-button" mat-menu-item>
                                      <mat-icon >
                                        delete_forever
                                      </mat-icon>
                                      <span>
                                        Delete
                                      </span>
                                    </button>
                                    <button class="menu-button" mat-menu-item>
                                        <mat-icon >
                                            arrow_drop_down
                                        </mat-icon>
                                        <span>
                                          Suspend
                                        </span>
                                      </button>
                                      </mat-menu>
                             </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedApplications"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedApplications;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[3,5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
            </div>
        </section>
</div>
    </div>
