.chartsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.chartsContainer .chartItem{
    width: 40%;
    max-height: 20rem;
}