
<div>
  <mat-tab-group>
    <mat-tab label="User"> 
        <div class="container">
            <app-users></app-users>
        </div>
      </mat-tab>
    <mat-tab label="Request">
        <div class="container">
            <app-user-request></app-user-request>
        </div>
    </mat-tab>
    <mat-tab label="Group">
        <div class="container">
            <app-groups></app-groups>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>