.wrapper{
  /* width: 100vw !important; */
  /* text-align: center; */
    display: flex;
   
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    /* background:linear-gradient(228.76deg,  #2E7D32 -34.42%, #E084F1 127.18%); */
  /* background:  #2E7D32; */
/* background: url('../../../../assets/img/greenland.jpg') center no-repeat ; */
/* background-size: cover; */
/* background-color: rgba(3, 61, 22, 0.14); */
min-height: 100vh;
overflow: hidden !important;
}
.main-nav{
  position: fixed;
}

.loginWrapper{
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  grid-column-gap: 1fr;

}
 .slideSection{
   position: relative;
  margin:4rem 0 0px 40px ;
 }
 .slideSection .slidewrapper{
   width: 40rem;
   height: 300px;
   border-radius:4px ;
   box-shadow: 0 10px 30px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   overflow: hidden;
 }


.slidewrapper .slideContainer{
  display: grid;
  animation: slide 15s ease infinite;
  grid-template-columns: repeat(3,100%);
  grid-column-gap:0;
  padding: 0;
  margin-right: 0 !important;
  height: 100%;
  
}
.slideSection #slide1{
  background:url('../../../../assets/img/banner4.jpg');
  background-size:cover;

}
.slideSection #slide2{
  background:url('../../../../assets/img/banner2.jpg');
  background-size:cover;
}
.slideSection #slide3{
  background:url('../../../../assets/img/banner3.jpg');
  background-size:cover;
}
.slideTitle{
  text-align: left !important;
  margin: 10px;
  color: #f1fcf1;
  letter-spacing: 2px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.slideSection .button-holder{
  
  position: absolute;
  bottom: -8%;
  left: 60%;
}
.slideSection .button-holder img{
  display: inline-block;
  height: 18px;
  margin: 30px;
}
.alt-auth{
  text-align: center;
    display: flex;
    flex-direction: row;
    width: 38%;
    align-items: center;
    margin: auto;
    justify-content: space-around;

}
.alt{
  margin-top: 10px;
}
.alt-label{
  font-size: 13px !important;
  color: var(--primaryColor) !important;
  margin-bottom: 10px;
}
.alt-items{
  height: 25px;
  width:25px;
  background: #fff;
  padding: 6px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-wrapper{
  width: 350px;
  position: relative;
  height: 440px;
  margin: 30px 40px 0;
  /* margin-top:30px; */
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background:var(--lightColor);
  /* background: rgba(86, 124, 106, 0.4); */
  /* background:var(--lightColor); */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form-wrapper{
  padding:30px 10px 10px 10px;

}
.form-wrapper p{
  font-size: 22px;
  font-family: var(--primaryFont);
  color: #b0b0b0;
  letter-spacing: 2px;
}

.form-container{
  /* padding:10px; */
  margin-top: 20px;
}
.auth-form-field{
  display: inline-block;
  background-color:#fff;
  width: 80%;
  margin: auto;
  color: #00000099;
  font-size: 14px;
  border:0.3 solid #b0b0b0 !important;
  /* border:none; */
  /* margin-top:15px; */
  border-radius: 2px;
  padding:0.8em;

  /* margin:10px 20px 10px 20px; */
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  font-size: 13px;
  font-family: var(--primaryFont);
}
.sign-up{
position:absolute;
bottom:20px;
  color: var(--primaryColor) !important;
  padding: 2px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--primaryFont);
  font-weight: 300;
  /* border-radius:30px; */
  z-index: 1000000;
  width: 60%;
  left: 20%;
  align-self: center;

  margin: auto !important;
}
.forgetpasswordwrapper{
  text-align: left;
  margin-bottom: 0;
  color: #b0b0b0;
  font-size: 13px;
  padding-top: 5px;
  font-weight: 300;
  padding-left:10px; 
  font-family: var(--primaryFont);
}
.forgetpasswordwrapper:hover{
  color:var(--primaryColor);
}
.forgetpasswordwrapper button{
  font-weight: 300;
  letter-spacing: 1px;
}
.submit-button{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: var(--lightColor);
  padding: 4px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-family: var(--primaryFont);
  font-weight: 300;
  border-radius:2px;
  background: var(--primaryColor);
  margin-top:10px;
  width: 80%;
}
.info-text{
  text-align: center;
  letter-spacing: 1px;
  font-family: var(--primaryFont);
  font-size: 12px !important;
  color: #b0b0b0;
}
.disabled{
  border:0.5px solid var(--primaryColor);
  color: var(--lightColor) !important;
  background: var(--primaryColor) !important;
  opacity: .6;
}
.passwordicon{
  height: 18px;
  width:18px;
}

@keyframes slide{
  0%{transform:translateX(0%)}
  10%{transform:translateX(-100%)}
  20%{transform:translateX(-100%)}
  30%{transform:translateX(-100%)}
  40%{transform:translateX(-200%)}
  50%{transform:translateX(-200%)}
  60%{transform:translateX(-200%)}
  70%{transform:translateX(0%)}
  80%{transform:translateX(0%)}
  90%{transform:translateX(0%)}
  100%{transform:translateX(0%)}
}

@media (min-width: 320px) and (max-width: 480px) {
  .loginWrapper{
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
}