<div class="detail-section">
  <div class="section right" >
    <div>
      <h1 mat-subheading>Code Refractoring</h1>
      <p class="subheading">Software Project</p>
    </div>

    <div class="detail-description">
      <h3 class="description">Description</h3>
      <article>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Eos ad est sunt velit magnam, laborum tempore eligendi! Officia perspiciatis, at quam ducimus incidunt,
        asperiores eveniet labore quis dolor possimus doloremque?
    </article>
    </div>
    <div class="comment">

          <mat-form-field class="project-form-field comment-input" floatLabel="never" >
              <textarea matInput  [(ngModel)]="comment"
                      placeholder="Comment"
                     name="comment"  floatPlaceholder="never" ></textarea>
                     <button mat-button matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon >person </mat-icon>
                     </button>
                     <mat-error >Invalid project name</mat-error>
          </mat-form-field>
          <button class="comment-button" mat-button mat-raised-button *ngIf="comment"> Save</button>
    </div>
  </div>
  <div class="section left" style="border-left: 1px solid #d8d2d2">
    <div class="detail-section links">
      <button mat-icon-button>
        <mat-icon style="color: var(--greyColor)">
          share
        </mat-icon>
      </button>
      <button mat-icon-button>
          <svg xmlns="http://www.w3.org/2000/svg" width="18"
          height="18" viewBox="0 0 18 18"><path  d="M13 14c0
          2.21-1.79 4-4 4s-4-1.79-4-4V3c0-1.66 1.34-3 3-3s3
          1.34 3 3v9c0 1.1-.9 2-2 2s-2-.9-2-2V4h1v8c0
          .55.45 1 1 1s1-.45 1-1V3c0-1.1-.9-2-2-2s-2
          .9-2 2v11c0 1.66 1.34 3 3 3s3-1.34 3-3V4h1v10z"/></svg>
        <!-- <mat-icon style="color: var(--greyColor)">

        </mat-icon> -->
      </button>
      <button [matMenuTriggerFor]="detailmenu" mat-icon-button>
        <mat-icon style="color: var(--greyColor)">
          more_horizontal
        </mat-icon>
      </button>
      <mat-menu #detailmenu yPosition="below">
        <button class="menu-button" mat-menu-item>
          <mat-icon>list
          </mat-icon>
          <span>
            Details
          </span>
        </button>
        <button  class="menu-button" mat-menu-item>
          <mat-icon>
            edit
          </mat-icon>
          <span>
            Edit
          </span>
        </button>
        <button style="color:var(--dangerColor)" class="menu-button" mat-menu-item>
          <mat-icon class="delete">
            delete
          </mat-icon>
          <span>
            Delete
          </span>
        </button>
      </mat-menu>
    </div>
    <div>
      <p class="header">Status</p>
      <h4 style="color: var(--darkColor);font-weight:300">To do <span class="todo"></span></h4>
    </div>
    <div>
      <p class="header">Assignee <span>

        </span></p>
      <h4 style="color: var(--darkColor);font-weight:300">Ibrahim Em Bash</h4>
    </div>
    <div>
      <p class="header">Assign By <span>

        </span></p>
      <h4 style="color: var(--darkColor);font-weight:300">Mr Muhammad </h4>
    </div>
    <div>
      <footer>Created At: <span style="color:var(--greyColor)">12 jan 2019 12:32:32 PM</span></footer>
      <footer>Updated At: <span style="color:var(--greyColor)">21st june 2019 10:04:11 AM</span></footer>
    </div>
  </div>
</div>
