mat-cell:first-of-type {
    padding-left: 15px !important;
    border-left:10px solid var(--primaryColor)
  }
  mat-cell:last-of-type{
    border-right:10px solid #f5f5f5;
  }
  /* .cell-name{
    padding-right: 35px !important;
  } */

  .add button{
    font-size: 16px;
    font-weight: 400;
    background: var(--primaryColor);
    padding: 0 20px 0 20px;
    color: var(--lightColor);
  }
  .item-search{
      width: 25%;
      margin-bottom: 10px;
      margin-right: 10px;
      border:1px solid var(--primaryColor) !important; 
  }
  .small-cell {
    flex: 0 0 7% !important;
  }