table {
  width: 90%;
  margin-right: 10px;
}
/*
.search-form-field div.mat-form-field-underline {
  background-color: green !important;
  border-color: var(--primaryColor);
}

.mat-form-field-empty.mat-form-field-label {
  color: green !important;
}

.mat-form-field-empty.mat-form-field-label {
  background: green !important;
  color: green !important;
} */
.add button{
  font-size: 16px;
  font-weight: 400;
  background: var(--primaryColor);
  padding: 0 20px 0 20px;
  color: var(--lightColor);
}
mat-table.table{
  transition: none !important;
  box-shadow: none !important;
  border-collapse: collapse;
  border-bottom: none !important; 
}

.item-search{
  width: 35%;
  margin-bottom: 10px;
  border:1px solid var(--primaryColor) !important; 
}
 mat-header-cell.status-column{
  display: flex !important;
  justify-content:center !important;
}

.status-container mat-cell{
  /* display: none !important; */
  text-align: center !important;
  justify-content:center !important;
}
.mat-cell{
  border-bottom: none !important; 
}

.mat-header-cell{
  border-bottom: none !important;
}
.status-cell{
  display: flex;
  flex-direction: row;
  text-align: center !important;
  align-items: center !important;
  justify-items: first baseline !important;
  width: 100%;
  color:var(--primaryColor);
}
mat-cell{
color: var(--darkColor);
font-family: var(--primaryFont);
font-weight: 50;
font-size: 13px;
align-items: center;
/* font-style: italic; */
}
.todo{
  background: transparent;
  color:var(--dangerColor) !important;
  align-items: center;
text-align: center;
font-weight: bold;
}
/* .mat-header-cell{
text-align: center !important;
width: 100%;
} */
.completed{
  background: var(--primaryColor);
  color:var(--lightColor) !important;
  align-items: center;
text-align: center;
}
.inprogress{
  background: transparent !important;
  color:var(--warningColor);
  align-items: center !important;
text-align: center !important;
font-weight: bold;
}
mat-cell:first-of-type {
  padding-left: 15px !important;
  border-left:10px solid var(--primaryColor)
}
mat-cell:last-of-type{
  border-right:10px solid #f5f5f5;
}
.cell-name{
  padding-right: 10px !important;
}
/* mat-row:nth-child(even){
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);
                } */
/*
mat-cell:nth-child(even){
  background:var(--greyColor) ;
} */
.status-span{
  display: flex;
  justify-self: center;
  justify-content: center;
  align-self: center;
  margin: auto;
}
mat-cell:first-of-type{
  width: 100px;
}
mat-form-field{
  width: 40%;
}

.active{
  background: linear-gradient(228.76deg, rgb(75, 138, 163) -34.42%, rgb(220, 233, 229) 97.18%);
  }

.mat-form-field-underline {
  background-color: green;
  color: green;
}
.mat-badge-medium .mat-badge-content {
  width: 15px !important;
  height: 15px !important;
  line-height: 16px !important;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -7px !important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -7px !important;
}