<div class="maindiv">
  <mat-sidenav-container class="sidenav-container" style="overflow: hidden;border-right: none">
    <mat-sidenav *ngIf="opened" #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [(opened)]="opened" >
      <div class="side-content">
        <mat-toolbar class="toolbar-theme">
          <div class="toolbar-item">
            <mat-icon 
              (click)="opened=!opened" 
              aria-label="Toggle sidenav"
              mat-icon-button
            >
            cancel</mat-icon>
            <h2>CABSOL PRO</h2>
          </div>
        </mat-toolbar>
        <mat-nav-list class="nav-list">
          <ng-container *ngFor="let item of menuList; let i = index" [attr.data-index]="i">
            <a mat-list-item
              [ngClass]="(pathname===item.link && i === selected) || pathOrigin ===item.link? 'active': '' "
              (click)="setStep(item,i)">

              <span class="link-icon">
                <mat-icon class="icon dashboard-icon">{{item.icon}}</mat-icon>
              </span>
              {{item.name}}
              <span *ngIf="item.children">
                <mat-icon class="icon arrow-icon">{{step===i?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
              </span>
            
            </a>
            <mat-expansion-panel class="expansion" [expanded]="step===i">
              <ng-container *ngFor="let child of item.children;let i = index" [attr.data-index]="i">
                <a mat-list-item
                  [ngClass]="(pathname===child.link && i === selected ) || pathOrigin===item.link? 'active': '' "
                  (click)="setStep(child,i)">
                  <span class="link-icon">
                    <mat-icon class="icon">{{child.icon}}</mat-icon>
                  </span>
                  {{child.name}}
                  <span>
                    <!-- <mat-icon style="margin-right: 20px" class="icon arrow-icon">keyboard_arrow_right</mat-icon> -->
                  </span>
                </a>
              </ng-container>
            </mat-expansion-panel>
          </ng-container>
        </mat-nav-list>
        <div class="quick-bar">
          <div class="header">
            <div class="actions">
              <button (click)="onCreate()" matTooltipPosition="right" matTooltip="Add new task" mat-icon-button>
                <mat-icon style="font-size:30px" class="tool-icon">add</mat-icon>
                <span style="padding-left: 10px">Add Project</span>
              </button>

              <button (click)="openBottomSheet()" matTooltipPosition="right" matTooltip="Add new task" mat-icon-button>
                <mat-icon style="font-size:30px" class="tool-icon">add_circle</mat-icon>
                <span style="padding-left: 10px">Add Task</span>
              </button>

              <!-- <button matTooltipPosition="right" matTooltip="Switch module" mat-icon-button>
                <mat-icon class="tool-icon">list</mat-icon>
                <span style="padding-left: 10px">Menu</span>
              </button> -->
              <!-- <button matTooltipPosition="right" matTooltip="click here to ask for help" mat-icon-button>
                <mat-icon class="tool-icon">help</mat-icon>
                <span style="padding-left: 10px">Help</span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav *ngIf="!opened" #drawer class="sidenav" style="width: fit-content;border-right: none" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" 
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [(opened)]="status" >
      <div class="side-content">
        <mat-toolbar class="toolbar-theme">
          <div class="toolbar-item">
            <mat-icon 
              (click)="opened=!opened" 
              mat-icon-button
            >
            account_balance</mat-icon>
          </div>
        </mat-toolbar>
        <mat-nav-list class="nav-list">
          <ng-container *ngFor="let item of menuList; let i = index" [attr.data-index]="i">
            <a mat-list-item
              [ngClass]="(pathname===item.link && i === selected) || pathOrigin ===item.link? 'active': '' "
              (click)="setStep(item,i)">

              <span class="link-icon">
                <mat-icon class="icon dashboard-icon">{{item.icon}}</mat-icon>
              </span>
            
            </a>
          </ng-container>
        </mat-nav-list>
        
      </div>
    </mat-sidenav>
    <mat-sidenav-content  >
      <mat-toolbar  class="main-nav">

        <span style="text-align: center">Project Manager</span>
        <div class="navbar-items">

          <div style="display: flex;margin-left: 20%;width: 40%;border-left:1px solid #d8d2d2;padding: 10px;">
              <button mat-icon-button [matMenuTriggerFor]="auth">
                  <img class="user-acc" src="../../../assets/img/avatar.png" />
                </button>
                <mat-menu #auth="matMenu" yPosition="above">
                  <button class="navbar-profile" mat-menu-item>
                    <mat-icon>person
                    </mat-icon>
                    <span>
                      Profile
                    </span>
                  </button>
                  <button (click)="handleLogOut()" class="navbar-profile" mat-menu-item>
                    <mat-icon style="color:var(--dangerColor)">logout</mat-icon>
                    <span>
                      Logout
                    </span>
                  </button>
                </mat-menu>

              <div style="transform: translateY(10%);margin-left: 10px;font-size: 16px" *ngIf="!(isHandset$ | async)">{{name}}</div>
              <div  style="transform: translateY(10%);margin-left: 10px;font-size: 16px"*ngIf="(isHandset$ | async)">{{alias}}</div>
    
          </div>
        

        

          <div style="text-align: center;padding: 10px">
            <button class="notification-icon" [matMenuTriggerFor]="notification" matTooltipPosition="left"
          matTooltip="notification" mat-icon-button>
          <mat-icon matBadge="{{activityList.length}}" matBadgePosition="after" matBadgeColor="warn" class="tool-icon">
            notifications_active
          </mat-icon>
        </button>
        <mat-menu #notification="matMenu" yPosition="above">
          <div class="notification-panel">
            <div class="banner">
              
              <span>
                Notifications
              </span>
            </div>
            <mat-divider></mat-divider>
            <div class="notification-details" *ngIf="activityList">
              <div class="notification-container" style="margin-bottom: auto" *ngFor="let item of activityList;">
                  
                <div class="nwrapper">
                   
                    <h4 style="color: var(--greyColor);font-size: 15px;margin-bottom: 20px"> <span style="color: var(--primaryColor)">{{item.usercomment}}</span></h4>
                  <!-- <p  style="text-align: center;margin-top:5px;color: var(--primaryColor)">{{item.projectid.projectname}}</p> -->
                    <div class="notification-header">
                        <p class="actionflow"> <span style="color: var(--greyColor);font-size: 13px" >Action flow</span> {{item.actionflow}}</p>
                        <p style="color: var(--greyColor);font-size: 13px">Action: <span style="color: var(--primaryColor)">{{item.tasktype}}</span></p>
                      </div>
                      
                      <div class="author">
                          <!-- <p  style="text-align: center;margin-top:5px;color: var(--primaryColor)"><span style="color: var(--greyColor);font-size: 13px" >Project name</span>{{item.projectid.projectname}}</p>  -->

                        <span  style="color: var(--greyColor);font-size: 13px;margin-right: 10px">Assigned By </span>
                        <p style="margin-right:10px"> {{item.userid.fullname}}</p>
                        <span><img width="20px" src="../../../assets/img/avatar.png" alt="assignedby"></span>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                <!-- <mat-divider></mat-divider> -->
              </div>
              <!--end of container-->
            </div>
            <!-- <button style="margin: 0;text-align:center;width:100%;background:var(--primaryColor);color:#fff" class="mat-button primary"> See all</button> -->
          </div>
        
        </mat-menu>
         </div>

        </div>
        
       

      
      </mat-toolbar>
      <div class="content" [@routeAnimations]="prepareRoute(outlet)" fxFlex>
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <!-- <p class="footer">CopyRight Comsoft Limited &copy;2019</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>