:root{
  --mat-card-padding: 16px;
--mat-card-border-radius: 4px ;
--mat-card-header-size: 40px ;
}
.sidenav-container {
  height: 100%;
background: #eee8;
}
.content{
  padding-top: 0px !important;
  padding: 10px;
  padding-right:20px; 
}
.account{
  position: absolute;
  right: 8%;
  font-size: 15px;
  color: var(--primaryColor);
}

.active{
  background-color: #f1fcf1 !important;
  color: var(--primaryColor) !important;
}
.active .link-icon .icon,.active span .icon.arrow-icon{
  color: var(--primaryColor) !important;
}

.in-active{
  background-color:inherit;
}

.user-acc{
  height: 40px;
  width: 40px;
  border-radius:50%; 
  margin-right: 60px;
}
.navbar-profile{
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  letter-spacing: 1.5px;
}
.navbar-profile mat-icon{
  color: var(--primaryColor);
}
.mat-card-avatar {
  height: var(--mat-card-header-size);
  width: var(--mat-card-header-size);
  border-radius: 50%;
  border: 1px solid #eee8;
  flex-shrink: 0;
}
.auth-user{
  font-size: 25px;
  color: var(--primaryColor);
}
/* .toolbar-header{
  position: absolute;
  left:20%;
  bottom:0%;
} */
.side-content{
  position: relative;
  height: 100%;
width: 100%;
}
.tool-icon{
  font-size: 25px;
}

.toolbar-header{
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.side-content .quick-bar{
position: absolute;
left: 8%;
color: var(--lightColor);
display: flex;
margin: auto;
align-content: center;
justify-content: center;
bottom:2%;
}
.quick-bar div{
  width: 100%;
}
.quick-bar div button{
  margin-bottom: 8px;
}

.actionflow{
  font-size: 12px !important;
}
.actions{
  display: flex;
  z-index: 989;
  flex-direction: column;
  justify-content: space-evenly;
}
.actions span{
  font-family: var(--primaryFont);
  letter-spacing: 1px;
  font-weight: 200;
}
.sidenav {
  border-right: none;
  width: 250px;
  padding-right:0 !important;
  /* background: linear-gradient(to right, #4caf50, #52c234); */
  /* background: linear-gradient(228.76deg, rgb(126, 196, 46) -34.42%, --primaryColor 127.18%); */
   background:var(--primaryColor);
   /* background-color: rgba(0, 151, 19, 0.6); */
   /* background: rgba(156, 240, 156, 0.3); */
  font-family:var(--primaryFont);
}
.icon{
  color: var(--lightColor);
}
.expansion{
  box-shadow:none;
  max-height: 100px;
  overflow-y: auto;
   /* border-right:4px solid #fff; */
   border-radius: 0;
padding-right: 0;
margin-right: 0;
}

.sticky-menu{
  position: absolute;
  right: 0;
}

.footer{
  text-align: right;
  color: var(---greyColor);
  font-family: var(--primaryFont);
  opacity: .6;
  padding: 20px;
}
.sidenav-container{
  min-height: 100vh;
  /* background:var(--lightColor); */
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);
  /* background:linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(183, 224, 215) 127.18%); */
}
.halfClose{
  width: 100px;
  transition: .5s;
}
.toggleIcon{
  color:var(--primaryColor);
  background: transparent !important;

} 

.navbar-items{
  position: fixed;
  right: -5%;
  width: 30%;
  display: flex;
  flex-direction:row;
  align-items: flex-end;
 align-self: right;
  /* margin-right: 20%; */
  
}
::ng-deep .main-nav{
  z-index: 998;

  position: fixed !important;
}
.toolbar-item{
  display:flex;
  width: 100%;

  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.toolbar-item h2{
  letter-spacing: 2px;
  font-family: var(--primaryFont);
  font-weight: 400;
  font-size: 24px;
}
.toolbar-item mat-icon{
  cursor: pointer;
  font-size: 32px;
}
.companylogo{
  height: 70px;
  width: 180px;
  box-shadow: 3px 0 6px rgba(0, 0,0, .25);
}
.maindiv{
  overflow:  hidden !important;
}
.sidenav .mat-toolbar {
  background:var(--primaryColor);
  color:var(--lightColor);
  font-family: var(--primaryFont);
}
.nav-list{
  color: var(--lightColor);
  font-weight: 300;
}
.link-icon{
  margin-right:10px;

}
mat-list-item{
  position: relative;
}

.mat-list-item{
  color:var(--lightColor);
  font-family: var(--primaryFont);
  letter-spacing: .6px;
  font-size: var(--fontSize);
  font-size: 14px;
  line-height: 20px;

}
.mat-expansion-panel{
  /* padding-bottom: 0;
  padding-right:1px; 
  margin-bottom: 0; */
  padding:0 !important;
  background: inherit;
}
.arrow-icon{
  position: absolute;
  bottom: 12px;
  right: 5px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-badge-medium .mat-badge-content {
  width: 15px !important;
  height: 15px !important;
  line-height: 16px !important;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -7px !important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -7px !important;
}
/deep/ div.mat-expansion-panel-body{
padding: 0;
}

/deep/ div.mat-expansion-panel-body a[mat-list-item]{
  padding-left: 20px;
} 
/deep/ div.mat-expansion-panel-body a[mat-list-item]:hover{
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);
  color: var(--primaryColor);
  opacity: .5;
}

a[mat-list-item]:hover{
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);
  color: var(--primaryColor);
  opacity: .7;
}
a[mat-list-item]:hover .icon,a[mat-list-item]:hover .icon.arrow-icon{
  color: var(--primaryColor);
}
.toolbar-theme{
  background: linear-gradient(228.76deg, rgba(25, 90, 86, 0.203) -34.42%, rgba(23, 43, 77, 0.319) 127.18%);
}
.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 10px;
  overflow: hidden;
  font-family: var(--primaryFont);
}
.banner p {
  color: #00000099;
 
}
.content{
  /* overflow: auto; */
  /* margin-top: 6%; */
  margin-top: 64px;
}
.author{
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content:flex-end; 
}
.notification-header,.notification-body{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  color: var(--primaryColor);
}
.notification-header{
font-size:15px;
margin: 5px 0 2px 0;

}
.notification-icon{
  padding:10px;
}

div.notification-container{
  display: grid;
  grid-auto-columns: 1fr 3fr;
 
  /* justify-content:space-between;  */
}
.notification-body{
  color: var(--greyColor); 
}
.nwrapper{
  padding:0 10px;
  margin-bottom: 5px;
}
.nwrapper:hover{
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);

background-size: cover; 
}
div.notification-details{
  color: #00000099;
  font-family: var(--primaryFont);
  font-size: 12px;
  overflow: scroll;
  max-height: 220px;
  padding: 4px !important;
}
.banner span{
 
  letter-spacing: .4px;
}
/* .notification-icon{
  position: absolute;
  right: 24%;
} */
.notification-panel{
  width: 280px;
  max-height:100%;
  padding-bottom: 0;
  /* padding:12px; */
}
@media (min-width: 320px) and (max-width: 1007px) {
  .notification-icon{
   
    right: 40%;
  }
  
  }