.form-container{
    /* padding:10px; */
    margin-top: 20px;
    
  }

  .card-container{
    position: relative !important;
    width: 300px;
  }
  .card-wrapper, .success-card{
    width: 300px;
    justify-content: center;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    }
    
    .card-wrapper{
        position: absolute;
    }
    
    .form-wrapper{
    padding:30px 10px 10px 10px;
    
    }

    .card-container .card-wrapper{
        transform: rotateY(90deg);
        font-family: var(--primaryFont);
        justify-content: center;
    }

    .auth-form-field{
        display: inline-block;
        background-color:#fff;
        width: 80%;
        color: #00000099;
        margin: auto;
        border:0.3 solid #b0b0b0;
        margin-top:3px;
        margin-bottom: 3px;
        border-radius: 2px;
        padding:0.8em;
        /* margin:10px 20px 10px 20px; */
        /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
        box-shadow: none;
        font-size: 13px;
        font-family: var(--primaryFont);
      }
.zoom{
    width: 80px;
    transform: scale(0.3);
}

.card-container.flipClass .zoom{
animation: zoom  .8s 0.2s ease-out forwards;
}

.reset-info-container{
font-family: var(--primaryFont);
}
.reset-info-container .reset-info{
    font-size: 16px;
    color: #00000099;
    font: bold;
}
.reset-info-container p{
    font-size: 13px;
    color: #b0b0b0;
    padding: 4px;
}

.zoom-wrapper{
    margin-bottom: 10px;
}
      .submit-button{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        color: var(--lightColor);
        padding: 4px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: var(--primaryFont);
        font-weight: 300;
        border-radius:2px;
        background: var(--primaryColor);
        margin-top:10px;
        width: 84%;
      }
      .disabled{
        border:0.5px solid var(--primaryColor);
        color: var(--lightColor) !important;
        background: var(--primaryColor) !important;
        opacity: .6;
      }
      .divider{
        width: 200px;
        text-align:center;
        margin:auto;
        margin-bottom: 5px;
      }
      .card-container.flipClass .success-card{
        animation: twirl 0.2s ease-in forwards;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }

      .card-container.flipClass .card-wrapper{
        animation: twirl 0.2s 0.2s ease-out forwards reverse;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      .sign-up{
       color: #b0b0b0;
        /* padding: 2px; */
        text-align: center;
        letter-spacing: 2px;
        /* text-transform: uppercase; */
        font-size: 10px;
        /* text-decoration: underline; */
        font-family: var(--primaryFont);
        font-weight: 300;
        /* border-radius:30px; */
        /* z-index: 100; */
        /* width: 60%; */
        /* left: 20%; */
        align-self: center;
        margin: auto !important;
      }
      .sign-up:hover{
        color: var(--primaryColor) !important;
      }
      .title{
          font-family: var(--primaryFont);
          font-size: 27px;
          margin: 5px;

          color: #b0b0b0;
      }
      .lock{
        color: #00000099;
      }
      .desc{
          color: #00000099;
          font-family: var(--primaryFont);
          font-size: 10px;
          letter-spacing: 1px;
          margin-bottom: 5px;
          margin: 10px;
      }

      @keyframes twirl{
        0%{
          transform: rotateY(0deg);
          
        }
        100%{
          transform: rotateY(90deg);
         
        }
      }

      @keyframes zoom{
          0%{
              transform: scale(0.3);
              opacity: .3;
          }
          100%{
              transform: scale(1);
              opacity: 1;
          }
      }