<div class="card-container" [ngClass]="flip ? 'flipClass' : '' ">
  <mat-card class="card-wrapper">
      <div class="form-wrapper">
        <div class="zoom-wrapper">
          <img class="zoom"  src="../../../../assets/img/57e1cf199c.svg" alt="success-mark">
        </div>
        <div class="reset-info-container">
          <h4 class="reset-info">New Password Sent!</h4>
          <p>Please check your email to retrieve the new password</p>
          <mat-divider ></mat-divider>
          <button mat-raised-button (click)="gotoPath('/login')" class="submit-button">Login now</button>
        </div>

      </div>
  </mat-card>
  <mat-card class="success-card">
      <div class="form-wrapper">
          <div  style="margin: auto">
            <mat-icon class="lock" style="font-size: 50px">
              lock
            </mat-icon>
          </div>
          <p class="title">Reset Password</p>
          <!-- <mat-divider class="divider"></mat-divider> -->
          <h6 class="desc">To reset your password, enter your username </h6>
          <!-- <h6 class="desc"><strong>Project Manager</strong></h6> -->
          <form [formGroup]="form" (submit)="resetpassword()">
            <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
              <input matInput placeholder="Username" formControlName="username" floatPlaceholder="never" required>
              <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                <mat-icon>person</mat-icon>
              </button>
              <mat-error>Invalid username name</mat-error>
            </mat-form-field>
            <div>
                <button [disabled]="form.invalid" buttonLoader [loaderColor]="'white'"  [ngClass]="!form.valid?'disabled': '' " 
                  class="mat-raised-button submit-button" >
                  <span></span>
                  Reset password
                </button>
              </div>
              <button mat-button (click)="gotoPath('/login')" class="sign-up">Sign in
                  here</button>
          </form>
        </div>
  </mat-card>
</div>