<section>
  <div class="section-header-1" style="width: 100%;">

    <div class="section-header-1">

      <div class="title">
        <p>Request users</p>
      </div>
    </div>

    <mat-form-field class="search-form-field" style="padding-right: 10px;">
      <input [(ngModel)]="accountsearchKey" (keyup)="applyAccountFilter()" matInput
        placeholder="Search Server Account" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="accountsearchKey"
        (click)="onAccountSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button *ngIf="!searchKey">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

  </div>


  <div>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container colspan="2" matColumnDef="#" style="padding: 0 0 0 10px">
          <mat-header-cell class="small-cell" colspan="2" mat-sort-header *matHeaderCellDef> # </mat-header-cell>
          <mat-cell class="small-cell" colspan="1" *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="fullname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.fullname}}
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="contactemail">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
          <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element">
            {{element.contactemail}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number </mat-header-cell>
          <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.phone}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="roletypes">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
          <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element">
            {{element.roletypes}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button [matMenuTriggerFor]="actionMenu" mat-icon-button>
              <mat-icon style="color:var(--darkColor)">
                more_horizontal
              </mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu" yPosition="below">
              <button (click)="userApproval(element.id)" class="menu-button" mat-menu-item>
                <mat-icon>how_to_reg
                </mat-icon>
                <span>
                  Approve
                </span>
              </button>
              <button class="menu-button" mat-menu-item>
                <mat-icon>
                  person_add_disabled
                </mat-icon>
                <span>
                  Decline
                </span>
              </button>
              <button (click)="showDetails(element)" class="menu-button" mat-menu-item>
                <mat-icon>
                  visibility
                </mat-icon>
                <span>
                  View more
                </span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>