
<section>
  <div class="section-header" style="width: 100%;">

    <mat-form-field class="search-form-field" style="padding-right: 10px;">
      <input [(ngModel)]="accountsearchKey" (keyup)="applyAccountFilter()" matInput
        placeholder="Search Server Account" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="accountsearchKey"
        (click)="onAccountSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button *ngIf="!searchKey">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div class="button add" style="padding-top: 10px;">
      <button (click)="onCreate()" mat-raised-button>
        <mat-icon>
          add
        </mat-icon>
        Add New Group
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container colspan="2" matColumnDef="#" style="padding: 0 0 0 10px">
        <mat-header-cell class="small-cell" colspan="2" mat-sort-header *matHeaderCellDef> # </mat-header-cell>
        <mat-cell class="small-cell" colspan="1" *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- fullname Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element"> {{element.name}}
        </mat-cell>
      </ng-container>
      <!--date column -->

      <ng-container matColumnDef="datecreated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
        <mat-cell class="cell-name" style="color: var(--primaryColor)" *matCellDef="let element">
          {{element.datecreated| date }} </mat-cell>
      </ng-container>
      <!--actions-->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button [matMenuTriggerFor]="actionMenu" mat-icon-button>
            <mat-icon style="color:var(--darkColor)">
              more_horizontal
            </mat-icon>
          </button>
          <mat-menu #actionMenu="matMenu" yPosition="below">
            <button (click)="getDeleteGroup(element.id)" class="menu-button red" mat-menu-item>
              <mat-icon class="red" style="color:var(--dangerColor)">
                delete_outlined
              </mat-icon>
              <span class="red">
                Delete
              </span>
            </button>
            <button (click)="getEditGroup(element)" class="menu-button" mat-menu-item>
              <mat-icon>
                edit
              </mat-icon>
              <span>
                Edit
              </span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>
      <!--more-->

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,20,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</section>