.page-tittle{
  font-size: 24px;

}
.page-container{
  position: relative;
  color:var(--primaryColor);
  padding: 2px;
  margin-right: 10px;
  font-family: var(--primaryFont);
  overflow-x: hidden;
  width: 100%;
  
  margin: 0;
}
.button{

}

.custom {
  position: fixed;
  top: 10%;
  padding-top: 10px;
  right: 0;
}

.add{
  position: absolute;
  right: 5px;
  /* bottom:10px; */


}
/* .mat-expansion-panel{
  width: 230px;
} */
mat-sidenav {
  width: 250px;
}
.mat-drawer-container, .mat-drawer{
  background-color: transparent;
}
.mat-drawer-container {
  overflow: hidden !important;
}
.sub-title{
  color:var(--primaryColor);
  padding: 5px;
  font-family: var(--primaryFont);
  font-size: 15px;
}

.docbody{
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  flex-direction: row;
}
.docbody .imageDiv{
  height: 100%;
  width: 30%;
}
.docx-more{
  position: absolute;
  text-align: right;
  top:30%;
  right: 10px;
}
.docxexpand{
  position: relative;
}
.docbody .docContent{
  width: 70%;
  height: 100%;
}
.docbody .docContent p{
  color: #000;
  font-size: 11px;
  font-family: var(--primaryFont);
}
p .contentLabel{
  font-size: 10px;
  text-transform: capitalize;
   margin-right: 5px;
   color: var(--greyColor);
}
.teammate-details{
  padding: 10px;
  text-align: left;
  font-family: var(--primaryFont);
  width: 100%;
}
.teammate-details li{
list-style: none;
margin: 3px 5px;
font-family: var(--primaryFont);
}
.teammate-details li label{
  font-size: 10px;
  font-family: var(--primaryFont);
  color:#00000099;
}
.teammate-details  li span{
  font-size: 12px;
  font-family: var(--primaryFont);
  color:var(--primaryColor);
}
.add button{
  font-size: 16px;
  font-weight: 400;
  background: var(--primaryColor);
  padding: 0 20px 0 20px;
  color: var(--lightColor);
}

.suggestions{
display: flex;
justify-content: center;
flex-direction: column;
margin-left: 5%;
}

.suggestion-title{
  font-size: 14px;
  color:#333;
  text-underline-position: below;
  margin-bottom: 15px;
  margin-top: 20px;
}
.side-icon{
  color:var(--darkColor);
  margin-inline-start: 25%;
  font-size:14px;
}
.suggestion-items{
  display:flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.item-container{
position: relative;
width: 25%;

}

.teammate{
  width: 30px;
  height: 30px;
border-radius: 50%;
margin-right: 10px;
}
.card-front, .card-back{
width: 80%;
height: 70%;
font-family: var(--primaryFont);
color: var(--greyColor);
text-transform: uppercase;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1px;

}

.desc-container{
  position: relative;
}
.panel-status{
  position: absolute;
  left: 15%;
  top:0;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border:.5px solid #00000099;
}
label.panel-label{
  color: #00000099 !important;
  letter-spacing: .5px;
  font-family: var(--primaryFont) !important;
  font-size:12.5px;
}
/* .todo{
  background: var(--lightColor);
  color: var(--dangerColor) !important;
  align-items: center;
text-align: center;
}  */
/* .mat-header-cell{
text-align: center !important;
width: 100%;
} */
/* .completed{
  background: var(--primaryColor);
  color:var(--lightColor) !important;
  align-items: center;
text-align: center;
} */
/* .inprogress{
  background: var(--warningColor) !important;
  color:var(--lightColor);
  align-items: center !important;
text-align: center !important;
} */
.panel-section{
  width: 100%;
  margin-right:0; 
}
.panel-section /deep/ div.mat-expansion-panel-body{
  padding: 5px !important;
  
  }

  .panel-section.todo  /deep/ div.mat-expansion-panel-body{
    border-bottom:4px solid var(--dangerColor);
    }

    .panel-section.inprogress /deep/ div.mat-expansion-panel-body{
      border-bottom:4px solid var(--warningColor);
      }

      .panel-section.completed /deep/ div.mat-expansion-panel-body{
        border-bottom:4px solid var(--primaryColor);
        }
    
        .panel-child  /deep/ div.mat-expansion-panel-body{
          border-bottom:none;
          }
.teammate-title{
  color: #00000099;
  text-align: center !important;
  letter-spacing: 1px;
  font-family: var(--primaryFont);
}
.card-front{
  border-top: 5px solid var(--primaryColor);
  display: flex;
  position: absolute;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  /* padding: 15%; */

  /* height: 50%; */
}

mat-card-header{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  justify-content: center;
  padding:7%;
  text-align: center;
  background: var(--primaryColor);
  background-size:cover;
}

mat-card-header mat-card-title{
  position: relative;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 2px;
  color: var(--lightColor);
  text-transform: capitalize;


  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.childpanel{
  width: 200px !important;
}
mat-expansion-panel-body{
padding: 3px !important;
}
 mat-card-header mat-card-title span button mat-icon{
  color: var(--lightColor);
   position: absolute;
   right: -30px;
   top:50px;
  line-height: -3;
}
.crumb{
  transform: translateY(10%);
}
mat-card-header mat-card-subtitle{
  font-size: 12px;
  text-transform: capitalize;
  color: var(--lightColor);
}
.wrapper{
  display: flex;
  flex-direction: row;
}
.wrapper .maindiv{
  float: right;
}
.wrapper div{
  display: inline-block;
  margin: 0;
}
.polebar{
  float: left;
  z-index: 1000;
  width: 120px;
  background: var(--primaryColor);
}
mat-card-actions{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items:space-evenly;
  justify-content:space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 2px;
  margin-top:0;
  align-items: center;
}
.mat-card-actions button{
  padding-bottom: 25px;
  display: inline-block;
}
.mat-card-actions button{
  margin-right:90px;
}
#file{
  margin-right: -40px;
}
/* animation Style */
.item-container .card-back{

  height: 70%;
  transform: rotateY(90deg);
text-align: start;
  padding:0px;
  font-family: var(--primaryFont);
}

.item-container .card-back .mat-card-title{
  /* max-height: 40px; */
}
.table-section{
  padding: 10px;
  width:100%;
  margin-top:2%;
  margin-right:2%;
}

.item-container:hover .card-front{
  animation: twirl 0.2s ease-in forwards;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.item-container:hover .card-back{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}



@keyframes twirl{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(90deg);
  }
}

@media (min-width: 720px) and (max-width: 1024px) {
  .item-container:nth-child(odd) {
   /* align-self: flex-end; */
   flex-direction:column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  .suggestion-items{
    flex-direction: column;
    /* margin: auto; */
  }
  .item-container{
    width: 100%;
    /* margin: auto; */
    margin-bottom: 10%;
  }
  .card-front, .card-back{

    margin-inline-start:30px ;
    /* align-self: center;
    text-align: center; */
  }
}
