.chat-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 70vh;

   
}

.chat-sidebar{
  width:250px;
  max-height: 90%;
  overflow-y:auto;
}

.Chartloader{
  width: 100%;
  height: 20px;
  border-radius:10px;
  background: #888888;
}

.litem{
  display: flex;
  /* justify-content: space-between; */
  cursor: pointer !important;
  background: #f1f2f1fc;
  padding:10px 0;
  border-bottom:.5px solid #358484;
  padding-left: 10px;
}
.mat-list-text{
  float: right !important;
}
.focus{
  background:var(--primaryColor) !important;
  color: #f1fcf1;
}
.designation{
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.chat-content{
    /* padding: 0 30px; */
    padding-left: 30px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid #325774;
    border-bottom: 1px solid #325774;
    border-left: 1px solid #325774;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0em !important;
}

.chat-input{
    position:absolute;
    bottom: 0;
    /* border-top: .4px solid grey; */
    /* padding:20px 0; */
    width: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px 0px !important;
}
.author{
  margin-left: 10px;
  transform: translateY(20%);
  font-size: 18px;
  font-family: var(--primaryFont);
  color:linear-gradient(228.76deg,  #2E7D32 -34.42%, #E084F1 127.18%);
  font-weight: 400;
}
.chatContent{
    position: relative;
    width: 100%;
    /* margin: 10px 0; */
    /* border-bottom: .5px solid #8888885f; */
    padding: 10px;
    /* border-left: 5px solid #358484; */
    overflow: hidden;
}

.chart-comment{
  font-size: 14px;
  font-family: var(--primaryFont);
  color:#00000999;
  font-weight: 200;
  margin-top: px;
}
.d-loader{
  position: absolute;
  display: block;
  left: 25%;
  top: 0px;
}
.actions{
    display: none;
}
.chatContent:hover{
  padding-left: 10px;
}
.chatContent:hover .actions{
    position: absolute;
    display: block;
    left: 15%;
    top: 0px;
}
.chatContent:hover .actions.de-activate{
  display: none;
}
.mat-form-field{
    width:100%;
}

.mat-list-item{
    height:auto!important;
}

.t-area{
  width: 75%;
  /* border-radius: 10px; */
  /* border: 2px solid #76767a99; */
  outline: 0;
  /* padding: 10px; */
}


.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 10px;
    border-radius: 4px;
    border: 1.5px solid rgba(0,0,0,.26);;
    background: #00529912;;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  
  .chatArea{
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;
  }

  /* .chatContent:last-child { 

  } */

  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: rgb(243, 210, 166);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  




  /* Chat containers */
.container {
  /* border: 2px solid #dedede; */
  /* background-color: #f1f1f1; */
  /* border-radius: 5px; */
  /* padding: 10px; */
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.submit{
  /* border:2px solid #00000999; */
  padding: 0 10px;
  font-size: 40px;
  /* background:var(--primaryColor); */
  transform: translateY(-35%) scale(.84)
}
/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  position: absolute;
  left:8%;
  top:23px;
  font-size: 12px;
  color:#00000999;
  float: left;
  color: #999;
}



p {
  position: relative;
  max-width: fit-content;
  width: 30em;
  background-color: #fff;
  padding: 0.8em 1.1em;
  font-size: 0.95em;
  font-family: var(--primaryFont);
  color:#00000999;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

p::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  left: 1.5em;
  border: .75rem solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
