/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
} */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
  font-family: 'Raleway', sans-serif !important;

}
:root{
  --primaryFont:'Raleway', sans-serif;
  /* --primaryColor:#2E7D32; */
  --primaryColor:#347137;
  --lightColor:#fff;
  --fontSize:16px;
  --dangerColor:#dd2b34;
  --greyColor:#888888;
  --darkColor:#212121;
  --blueColor: #1e88e5;
  --warningColor:#ffa726;
}
*{
  margin: 0;
  padding: 0;
}
input.ng-dirty.ng-invalid{
  border-color: red;
}
.validation-error{
  position: absolute;
  top:0;
  color:var(--warningColor);
  font-family: var(--primaryFont);
  font-size: 12px;
}
.section-header{
  color: var(--darkColor);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 20%;
  font-family: var(--primaryFont);
  /* margin-bottom: 20px; */
  justify-content: flex-end;
}
.section-header-1{
  color: var(--darkColor);
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 20%;
  font-family: var(--primaryFont);
  /* margin-bottom: 20px; */
  justify-content: space-between;
}


 section{
  padding: 5px;
  /* margin-left:10px; */
}

.form-wrapper ul{
  display: block;
  padding-inline-start:26px;
  
  align-items: center;
  text-align: center !important;
  align-self: auto;
  width: 100%;
}
.form-wrapper ul li{
display: inline-block !important;
width: 150px;
justify-items: center;
text-align: center;
list-style: none;
margin-inline-end: 0px;
margin-inline-start: 0px;
z-index: 1000;
}

.form-wrapper ul li mat-divider{
color: #2E7D32;

}
/* snackbar */
.info {
  background: #2196F3;
}
.success {
  background:#2E7D32;
  color: var(--lightColor);

}
.warning{
 background: var(--warningColor);
 color: var(--darkColor);
}
.error {
  background:var(--dangerColor);
  color: var(--lightColor);
}
main{
/* text-align: center; */
position: relative;
}
.form-container{
  width:100%;
}
form.project-form{
margin:10px;
}
html,body{
  height: 100%;
}
.menu-button{
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  letter-spacing: .7px;
}
.menu-button:hover{
/* background-color: linear-gradient(228.76deg, rgb(74, 184, 228) -34.42%, rgb(220, 233, 229) 97.18%) !important;  */
background-color: #1f3c5345 !important;
  /* opacity: .7; */
}

.menu-button mat-icon{
  color: var(--primaryColor) !important;
}
.main-nav{
  width: 100%;
  position: relative;
background:var(--lightColor);
 box-shadow: 3px 0 6px rgba(0, 0,0, .25);
color:var(--primaryColor);

font-family: var(--primaryFont);
}

mat-dialog-content {
  width: 100%;
  padding:0;
}
.project-form-field{
  /* display: inline-block; */
  background-color:#f5f5f5;
  width: 45%;
  /* border-radius: 4px; */
  /* border:0.5px solid #cecece; */
  /* padding: 2px 6px; */
  /* margin-left:5px; */
  font-size: 14px;
  font-family: var(--primaryFont);
}
.project-form-field div.mat-form-field-underline {
  display: none;
  /* border-color: #2E7D32; */
}
.project-form-field div.mat-form-field-infix{
  border-top:0px;

}
.project-form-field:nth-child(odd) {margin-right:20px}
.input-container{
margin: auto;
   text-align: justify;
   align-self: center;
  justify-content: 'center';
}
.project-form-field div.mat-form-field-wrapper{
  padding-bottom:0px;

}
mat-form-field{
  position: relative;
}
mat-form-field mat-error{
  position: absolute;
  left: 10px;
}
.page-tittle{
  font-size: 24px;

}
.page-container{
  position: relative;
  color:var(--primaryColor);
  padding: 5px;
  font-family: var(--primaryFont);
}
mat-dialog-actions .save{
  background: var(--primaryColor) !important;
  color:var(--lightColor);
}
.project-form{
  width: 100%;
}
/* server component global style */
.section-container{
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}
/* 
section{
  margin:20px;
  overflow-x: none;
} */



/* 
#crumbs {
  transform: scale(.5);
  text-align: left !important;
} */

mat-row:nth-child(even){
  background: linear-gradient(228.76deg, rgb(235, 238, 234) -34.42%, rgb(250, 255, 253) 127.18%);
                }

                
                mat-cell:first-of-type {
                  padding-left: 15px !important;
                  border-left:10px solid var(--primaryColor);
                  padding-right:-35px ;
                  justify-content: flex-start;
                }
                mat-cell:last-of-type{
                  border-right:10px solid #f5f5f5;
                }
                
                mat-cell{
                  font-size: 15px !important;
                  text-transform: capitalize;
                }

                @media (min-width: 320px) and (max-width: 480px) {
                  form-wrapper ul li{
                    width: 20px !important;
                  }
                  .mat-divider{
                    display: none;
                  }
                }


                 
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #358484;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}