<div style="width: 100%">
    <h2 mat-dialog-title>Create New User</h2>
</div>

<mat-dialog-content >
  <form [formGroup]="form">
    <div class="wrapper">
      <div class="form-container">
        
        <div class="formControl">
          <mat-form-field class="auth-form-field half">
              <input matInput placeholder="Fullname" formControlName="fullname">
              <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                <mat-icon>person</mat-icon>
              </button>
              <!-- <mat-error *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">Invalid email address</mat-error> -->
            </mat-form-field>
        </div>
        <div class="formControl">
            <mat-form-field class="auth-form-field half" >
                <input matInput placeholder="Designation" formControlName="designation">
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>title</mat-icon>
                </button>
                <mat-error>Invalid designation</mat-error>
              </mat-form-field>
          </div>
        <div class="formControl">
          <mat-form-field class="auth-form-field" >
            <input matInput placeholder="Email" formControlName="contactemail" >
              <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                <mat-icon>email</mat-icon>
              </button>
              <mat-error>Invalid email address</mat-error>
            </mat-form-field>
        </div>
        <div class="formControl">
            <mat-form-field class="auth-form-field" >
              <input type="password" matInput placeholder="Password" formControlName="password" >
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>password</mat-icon>
                </button>
                <mat-error>Invalid email address</mat-error>
              </mat-form-field>
          </div>
        <div class="formControl">
            <mat-form-field class="auth-form-field">
              <input matInput placeholder="Phone" formControlName="phone">
                <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                  <mat-icon>phone</mat-icon>
                </button>
                <mat-error>Invalid phone number</mat-error>
              </mat-form-field>
          </div>
          <div class="formControl">
              <mat-form-field class="auth-form-field" >
                <input matInput placeholder="Institution" formControlName="institution" >
                  <button mat-button matSuffix mat-icon-button (click)="doNothing()">
                    <mat-icon>business</mat-icon>
                  </button>
                  <mat-error>Invalid phone number</mat-error>
                </mat-form-field>
            </div>
            
          <div class="formControl options">
              <label *ngIf="!isLoading">Supervisor </label>
              <label style="color:var(--warningColor)" *ngIf="isLoading">{{fetchmessage}}</label>
              <mat-form-field class="auth-form-field" floatLabel="never">
                    <mat-select formControlName="supervisor"  placeholder="Supervisor">
                      <mat-option [value]="user.id" *ngFor="let user of userList">
                        {{user.fullname}}
                      </mat-option>
                    </mat-select>
                  <mat-error>Invalid supervisor</mat-error>
              </mat-form-field>
            </div>


            <div class="formControl options">
                <label>Role Types</label>
            <mat-form-field class="auth-form-field" floatLabel="never">
                <mat-select  formControlName="roletypes"  placeholder="User role type">
                  <mat-option value="All">All</mat-option>
                  <mat-option value="Authorizer">Authorizer</mat-option>
                  <mat-option value="Initiator">Initiator</mat-option>
                  <mat-option value="Notification">Notification</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
      
      </div>
      <div class="role-container">
          <div class="fancy"> User assigned to {{userRole.selectedOptions.selected.length}} group(s) </div>
          <div class="group-list">
            <mat-selection-list #userRole formControlName="groups">
              <!-- [value]="group.name" *ngFor="let group of groups" -->
              <mat-list-option [value]="group.id" 
              *ngFor="let group of groupList"> 
                {{group.name}}
              </mat-list-option>
            </mat-selection-list>
          </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button [disabled]="" class="mat-raised-button mat-primary save" buttonLoader [loaderColor]="'white'" (click)="save()">
      <span></span>
      Add User
    </button>
</mat-dialog-actions>