<div class="card-wrapper">
  <div class="form-wrapper">
    <ul>
      <li>
        <mat-divider style="width:100px"></mat-divider>
      </li>
      <li>
        <p style="width: 100px;">Sign Up</p>
      </li>
      <li>
        <mat-divider style="width:100px"></mat-divider>
      </li>
    </ul>
    <form [formGroup]="form" (submit)="getSignUp()">
      <div class="form-container">
        <div class="form-control">
          <label for="fullname">Fullname</label>
          <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
            <input matInput placeholder="Fullname" formControlName="fullname" floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button (click)="doNothing()">
              <mat-icon>person</mat-icon>
            </button>
            <mat-error>Invalid name</mat-error>
          </mat-form-field>
        </div>
        <div class="form-control">
          <label for="username">Username</label>
          <mat-form-field class="project-form-field auth-form-field " floatLabel="never">
            <input matInput placeholder="username" formControlName="username" floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button (click)="doNothing()">
              <mat-icon>person</mat-icon>
            </button>
            <mat-error>Invalid  username</mat-error>
          </mat-form-field>
        </div>
        <div class="form-control ">
          <label for="email">Contact Email</label>
          <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
            <input matInput placeholder="Email" formControlName="contactemail" floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button (click)="doNothing()">
              <mat-icon>email</mat-icon>
            </button>
            <mat-error>Invalid email address</mat-error>
          </mat-form-field>
        </div>
        <div class="form-control ">
          <label for="phone">Phone number</label>
          <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
            <input matInput placeholder="Phone"  formControlName="phone" floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button (click)="doNothing()">
              <mat-icon>phone</mat-icon>
            </button>
            <mat-error>Invalid phone number</mat-error>
          </mat-form-field>
        </div>
       
        <div class="form-control"  style="width:45%;margin-left: -5px; display:inline-block">
          <label for="password">Password</label>
          <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
            <input matInput placeholder="Password" ng-minlength="6" type="{{inputType}}" formControlName="password"
              floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button>
              <mat-icon (click)="toggleView()">
                <img *ngIf="view" class="passwordicon" src="../../../../assets/img/eye-open.png" />
                <img *ngIf="!view" class="passwordicon" src="../../../../assets/img/show_hide_password.png" />
              </mat-icon>
            </button>
            <!-- <mat-error *ngIf="form.hasError('required', 'password')">
              Please enter your newpassword
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="form-control"  style="width:45%;margin-left: -5px; display:inline-block">
          <label for="verifyPassword">Verify Password</label>
          <mat-form-field class="project-form-field auth-form-field" floatLabel="never">
            <input matInput placeholder="Verify Password" type="{{vpasswordType}}" [errorStateMatcher]="matcher" formControlName="verifyPassword"
              floatPlaceholder="never">
            <button mat-button matSuffix mat-icon-button>
              <mat-icon (click)="toggleShow()">
                <img *ngIf="show" class="passwordicon" src="../../../../assets/img/eye-open.png" />
                <img *ngIf="!show" class="passwordicon" src="../../../../assets/img/show_hide_password.png" />
              </mat-icon>
            </button>
            <!-- <mat-error *ngIf="form.hasError('notSame')">Password Missmatch</mat-error> -->
          </mat-form-field>
        </div>
        <!-- <div class="form-control"  style="width:45%;margin-left: -5px; display:inline-block">
          <label for="">Institution</label>
          <mat-form-field floatLabel="never" class="project-form-field auth-form-field ">
            <mat-select [disabled]="true" class="select" formControlName="institutionId" placeholder="Institution" floatPlaceholder="never"
            >
              <mat-option *ngFor="let item of institutionList" [value]="item.institutionId">{{item.institutionName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <div class="form-control"  style="width:45%;margin-left: -5px; display:inline-block">
          <label for="">Designation</label>
            <mat-form-field floatLabel="never" class="project-form-field auth-form-field ">   
              <mat-select [disabled]="true" class="select" formControlName="designationId" placeholder="Designation" floatPlaceholder="never"
                >
                <mat-option *ngFor="let item of designationList" [value]="item.designationid">{{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
        <div>
          <button [disabled]="form.invalid" [ngClass]="form.valid?'': 'disabled' " 
            class="mat-raised-button submit-button save" buttonLoader [loaderColor]="'white'" >
            <span></span>
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </div>
  <p class="info-text">Already have an Account?<button mat-button (click)="gotoPath()" class="sign-up">Login
      here</button></p>