.card-wrapper{
    width: 500px;
    position: relative;
    height: 100%;
    margin-top:30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background:var(--lightColor);
    /* background: rgba(86, 124, 106, 0.4); */
    /* background:var(--lightColor); */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  /* label{
    position: absolute;
    color: var(--greyColor);
    margin-top:5px;
    font-family:var(--primaryFont);
    font-size: 12.5px;
} */
  .form-wrapper{
    padding:30px 10px 10px 10px;
  
  }
    .form-wrapper p{
    font-size: 22px;
    font-family: var(--primaryFont);
    color: #b0b0b0;
    letter-spacing: 2px;
  }
  .formControl{
    position: relative;
    margin: 10px 0 0px 0;
    padding:10px;
    
}
.form-control label{
    position: absolute;
    top: -10px;
    color: var(--primaryColor);
    font-size: 13px;

    font-weight: 300;
    font-family: var(--primaryFont);
    color: var()
}
  .form-control{
    position: relative;
    display: inline-block !important;
    margin: 10px 0 0 0px;
    padding:10px 0 10px 0;
    width: 100%;
    /* text-align: left; */
  }
  .form-container{
    /* padding:10px; */
    margin-top: 20px;
  }
  .auth-form-field{
    display: inline-block;
    background-color:#fff;
    width: 80%;
    color: #00000099;
    margin: auto;
    border:0.3 solid #b0b0b0;
    border-radius: 2px;
    padding:0.8em;
    /* margin:10px 20px 10px 20px; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    box-shadow: none;
    font-size: 13px;
    font-family: var(--primaryFont);
  }

  .half{
      width:36% ;
      margin-top:10px;
      margin-bottom: 10px;
      margin-inline-end: 8px;
      margin-inline-start: 8px;

  }
  
  .info-text{
      text-align: center;
      letter-spacing: 1.2px;
      font-family: var(--primaryFont);
      font-size: 14px;
      color: #b0b0b0;
  }
  .sign-up{
    color: var(--primaryColor) !important;
    /* padding: 2px; */
    text-align: center;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    font-size: 14px;
    text-decoration: underline;
    font-family: var(--primaryFont);
    font-weight: 300;
    /* border-radius:30px; */
    z-index: 100;
    /* width: 60%; */
    /* left: 20%; */
    align-self: center;
  
    margin: auto !important;
  }
  
.submit-button{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--lightColor);
    padding: 4px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: var(--primaryFont);
    font-weight: 300;
    border-radius:2px;
    background: var(--primaryColor);
    margin-top:10px;
    width: 84%;
  }
  .disabled{
    border:0.5px solid var(--primaryColor);
    color: var(--lightColor) !important;
    background: var(--primaryColor) !important;
    opacity: .6;
  }
  .passwordicon{
    height: 18px;
    width:18px;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .card-wrapper{
      width: 80%;
      /* margin-bottom: 20px; */
      /* margin: 0 10px 0 10px; */
  
    }
    .form-control{
    
    }
    label{
      left:30px !important;
    }
    .half{
        width: 80%;
        margin-inline-start:15px;
        margin-inline-end: 0;
    }

    .auth-form-field{
        display: block;
    }
 
  }